<h1><%= @game.player_one.name %> attacked <%= @game.player_two.name %>!</h1>
<h1><%= @game.player_two.name %>: <%= @game.player_two.hp %>HP</h1>

<form action='/next_round'>
  <input type='submit' value='Switch!'>
</form>
