<html>
  <h1>Player One: <%= @game.player_one.name %> VS Player Two: <%= @game.player_two.name %></h1>
  <h2><%= @game.player_two.name %> HP: 100</h2>

  <form action='/attack'>
    <input type='submit' value='Attack!'>
  </form>
</html>
